<!doctype html>
<html>
<head>
<title>Bánh đọc phận</title>
</head>
<body>
        <header>
            <img src="views/layouts/cookie.png" alt="Cookie">
        </header>
        {{{body}}}
</body>
</html>