@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4"Welcomee</h1>
        <p>Learn about <a href="/worldcup">Nations Team</p>
</div>
@{
    ViewData["Title"] = "Index";
}